<div class="container" ng-controller="byMajorCtrl as byMajor">
    <h3 class="section-heading">By Major</h3>
    <p>
        Let's explore infomration about selected majors, including starting and mid career salary, gender distribution and unemployment rate.
    </p>
    <p>
        Please select the majors you are interested in: <br>
        <select ng-model="selected_majors" multiple>
            <option ng-repeat="major in all_majors">{{major}}</option>
        </select><br>

        <button style="float:right" class="btn-success" ng-click="display_graph_on_majors()" >Explore</button>
    </p>
    <br>
    <br>

    
    <div class="row">
        <p>Median Salary Information For Selected Majors</p>
        <div class="col-md-6" id ="salary-bar-chart"></div>
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <p>
                Gener Information For Each Major <br>
                {{major_gender_distribution}} <br>  
            </p>  
            <p>
                Employment Information For Each Major <br>
                {{unemployment_rates}} <br>  
            </p>     
        </div>
    </div>
</div>