<div class="container" ng-controller="bySalaryCtrl as bySalary">
    <h3 class="section-heading">By Salary</h3>
    <p>
        Let's explore majors and colleges with the median salaries that fall into selected range.
    </p>
    <p>
        Please select a range of median salaries: <br>
        Salary lower bound <br> <input type='number' ng-model='salary_range_low'><br>
        Salary upper bound <br> <input type='number' ng-model='salary_range_high'> 
        <button style="float:right" class="btn-success" ng-click="display_college_major_in_range()" >Search</button>
    </p>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <p>
                Colleges in the selected median salary range: <br>
                <li ng-repeat="(index, data) in colleges_in_range">
                    {{data.school_name}}:    {{data.starting_median_salary}}
                </li>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                Majors in the selected median salary range: <br>
                <li ng-repeat="(index, data) in majors_in_range">
                    {{data.major_name}}:    {{data.median_salary}}
                </li>
            </p>
        </div>
    </div>
</div>