<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Developers</h2>
                <h3 class="col-6 section-subheading text-muted">
                    This is a 450 Databases Project by Summer Yue, Joy Wang, Madeline Gelfand and Lawrence Chan. <br> 
                </h3>
            </div>
        </div>
    </div>
</section>
    
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © CIS450 Team</span>
            </div>
        </div>
    </div>
</footer>