<div id="home">
  <mat-card>
    <p>We want to understand how salaries data are related to colleges, majors and school demographics.<p>
    
    <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>Colleges by Median Salary</mat-grid-tile>
    <mat-grid-tile>Majors by Median Salary</mat-grid-tile>
    <mat-grid-tile>Information On Selected Majors</mat-grid-tile>
    <mat-grid-tile><a class="links" [routerLink]="['/college_info']">Information On Selected Colleges</a> </mat-grid-tile>
    <mat-grid-tile><a class="links" [routerLink]="['/college_from_cost']">Select Schools Based On Costs</a> </mat-grid-tile>
    
  </mat-grid-list>
</mat-card>
</div>